<!-- BEGIN_INCLUDE(jpa:query) -->
<jpa:query statement="select * from Dog" queryParameters="#[payload:]" />
<!-- END_INCLUDE(jpa:query) -->

<!-- BEGIN_INCLUDE(jpa:persist) -->
<jpa:persist/>
<!-- END_INCLUDE(jpa:persist) -->

<!-- BEGIN_INCLUDE(jpa:merge) -->
<jpa:merge />
<!-- END_INCLUDE(jpa:merge) -->

<!-- BEGIN_INCLUDE(jpa:find) -->
<jpa:find/>
<!-- END_INCLUDE(jpa:find) -->

<!-- BEGIN_INCLUDE(jpa:detach) -->
<jpa:detach/>
<!-- END_INCLUDE(jpa:detach) -->